.threepeat {
  margin-left: 20px;
  margin-right: 20px;
}

.threepeat__btn {
  margin-bottom: 10px;
}

.threepeat__buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 0px;
}
