.miniheader {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
  margin-left: 90px;
  margin-top: 20px;
}

.miniheader__icon {
  height: 40%;
  width: 40%;
  transform: rotate(0.3rad);
  margin-top: 10px;
  margin-left: -20px;
}

.miniheader__title {
  font-size: 30px;
  color: #0b8a8a;
  margin: 0;
  margin-top: 15px;
  line-height: 72px;
}
