

h1{
    color: #0B8A8A;
}

h2 {
    color: #0B8A8A;
}

.educontent_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.educontent{
    padding: 0 5rem;
}

.educontent__go-btn{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 1rem;
}